## Problema 15

### Usando os dados do Problema 9 do Capítulo 2, calcule o grau de associação entre seção e notas em estatística.

In [1]:
import pandas as pd
import statistics as stat
import math as math

In [2]:
df=pd.DataFrame(
    data={
        "Frequência":[7,7,11,25],
        "Média":[8.71,8.29,7.91,8.24],
        "Desvio padrão":[0.75,1.11,1.64,1.30],
        "Variância":[0.57,1.24,2.69,1.69],
        "Mín.":[8,7,4,4],
        "Q1":[8,7.5,7,8],
        "Q2":[9,8,8,8],
        "Q3":[9,9,9,9],
        "Máx.":[10,10,10,10]
    },
    index=['P','T','V','Total']
)
df

       Frequência  Média  Desvio padrão  Variância  Mín.   Q1  Q2  Q3  Máx.
P               7   8.71           0.75       0.57     8  8.0   9   9    10
T               7   8.29           1.11       1.24     7  7.5   8   9    10
V              11   7.91           1.64       2.69     4  7.0   8   9    10
Total          25   8.24           1.30       1.69     4  8.0   8   9    10

In [3]:
media_das_variancias_locais=((df.at['V','Frequência']*df.at['V','Variância'])+(df.at['T','Frequência']*df.at['T','Variância'])+(df.at['P','Frequência']*df.at['P','Variância']))/(df.at['P','Frequência']+df.at['T','Frequência']+df.at['V','Frequência'])

print('Média das variancias locais:', media_das_variancias_locais)

grau_associacao_secao_e_estatística = 1 - ( media_das_variancias_locais / df.at['Total','Variância'] )
print('Grau de associação entre seção e notas em estatística:', grau_associacao_secao_e_estatística)

Média das variancias locais: 1.6904
Grau de associação entre seção e notas em estatística: -0.0002366863905325367