## Problema 5

#### Usando o Problema 3, verifique se há relações entre as variáveis rotatividade e salário.

In [1]:
import pandas as pd
import statistics as stat

In [2]:
df=pd.DataFrame(
    data={
        "X":[1,3,2,3,2,2,3,1,2,3,2,3,1,2,3,4,1,2,2,2,2,3,4,1,2,3,4,1,4,3,2,1,4,2,4,3,1,3,2,2],
        "Y":[6,2,4,1,4,1,3,5,2,2,5,2,6,6,2,2,5,5,1,1,4,2,1,5,4,2,1,5,4,3,2,1,1,6,2,1,4,2,3,5]
    },
    index=range(1,41)
)

In [3]:
mediana_x = stat.median(df['X'])
mediana_y = stat.median(df['Y'])

frequencias_conjuntas = {}
frequencias_conjuntas['x_alto_y_alto']=0
frequencias_conjuntas['x_alto_y_baixo']=0
frequencias_conjuntas['x_baixo_y_alto']=0
frequencias_conjuntas['x_baixo_y_baixo']=0

for index, row in df.iterrows():
    if row['X'] >= mediana_x:
        if row['Y'] >= mediana_y:
            frequencias_conjuntas['x_alto_y_alto']+=1
        else:
            frequencias_conjuntas['x_alto_y_baixo']+=1
    else:
        if row['Y'] >= mediana_y:
            frequencias_conjuntas['x_baixo_y_alto']+=1
        else:
            frequencias_conjuntas['x_baixo_y_baixo']+=1

df_frequencia_conjunta=pd.DataFrame(
    data = {
        "Y alto":[
            frequencias_conjuntas['x_alto_y_alto'],
            frequencias_conjuntas['x_baixo_y_alto'],
            frequencias_conjuntas['x_alto_y_alto']+frequencias_conjuntas['x_baixo_y_alto']
        ],
        "Y baixo":[
            frequencias_conjuntas['x_alto_y_baixo'],
            frequencias_conjuntas['x_baixo_y_baixo'],
            frequencias_conjuntas['x_alto_y_baixo']+frequencias_conjuntas['x_baixo_y_baixo']
        ],
        "Total":[
            frequencias_conjuntas['x_alto_y_alto']+frequencias_conjuntas['x_alto_y_baixo'],
            frequencias_conjuntas['x_baixo_y_alto']+frequencias_conjuntas['x_baixo_y_baixo'],
            len(df)
        ]
    },
    index=['X alto','X baixo','Total']
)
print('Distribuição de frequência conjunta:')
df_frequencia_conjunta

Distribuição de frequência conjunta:

         Y alto  Y baixo  Total
X alto       13       19     32
X baixo       7        1      8
Total        20       20     40

In [4]:
df_distribuicao_de_proporcao_rotatividade_por_salario=pd.DataFrame(
    data = {
        "Y alto":[
            [df_frequencia_conjunta.at['X alto','Y alto'], df_frequencia_conjunta.at['X alto','Y alto']/df_frequencia_conjunta.at['X alto','Total']],
            [df_frequencia_conjunta.at['X baixo','Y alto'], df_frequencia_conjunta.at['X baixo','Y alto']/df_frequencia_conjunta.at['X baixo','Total']],
            [df_frequencia_conjunta.at['Total','Y alto'], df_frequencia_conjunta.at['Total','Y alto']/df_frequencia_conjunta.at['Total','Total']]
        ],
        "Y baixo":[
            [df_frequencia_conjunta.at['X alto','Y baixo'], df_frequencia_conjunta.at['X alto','Y baixo']/df_frequencia_conjunta.at['X alto','Total']],
            [df_frequencia_conjunta.at['X baixo','Y baixo'], df_frequencia_conjunta.at['X baixo','Y baixo']/df_frequencia_conjunta.at['X baixo','Total']],
            [df_frequencia_conjunta.at['Total','Y baixo'], df_frequencia_conjunta.at['Total','Y baixo']/df_frequencia_conjunta.at['Total','Total']]
        ],
        "Total":[
            [df_frequencia_conjunta.at['X alto','Total'], df_frequencia_conjunta.at['X alto','Total']/df_frequencia_conjunta.at['X alto','Total']],
            [df_frequencia_conjunta.at['X baixo','Total'], df_frequencia_conjunta.at['X baixo','Total']/df_frequencia_conjunta.at['X baixo','Total']],
            [df_frequencia_conjunta.at['Total','Total'], df_frequencia_conjunta.at['Total','Total']/df_frequencia_conjunta.at['Total','Total']]
        ]
    },
    index=['X alto','X baixo','Total']
)
print('Distribuição de proporção - rotatividade por salario:')
df_distribuicao_de_proporcao_rotatividade_por_salario

Distribuição de proporção - rotatividade por salario:

                Y alto        Y baixo      Total
X alto   [13, 0.40625]  [19, 0.59375]  [32, 1.0]
X baixo     [7, 0.875]     [1, 0.125]   [8, 1.0]
Total        [20, 0.5]      [20, 0.5]  [40, 1.0]

As tabela acima indica existência de relação entre as variáveis rotatividade e salário, pois as
proporções marginais não se repetem no interior da tabela.