## Problema 9

#### Obter os três quartis, q(0,1) e q(0,90) para os dados do Problema 3.

In [1]:
import pandas as pd

In [2]:
casas_por_quarteirao=[2,2,3,10,13,14,15,15,16,16,
                      18,18,20,21,22,22,23,24,25,25,
                      26,27,29,29,30,32,26,42,44,45,
                      45,46,48,52,58,59,61,61,61,65,
                      66,66,68,75,78,80,89,90,92,97]
df = pd.DataFrame(
    {
        "Casas por quarteirão":casas_por_quarteirao
    }
)
description = df.describe(percentiles=[.10, .25, .50, .75, .90])
description

       Casas por quarteirão
count             50.000000
mean              40.220000
std               26.149718
min                2.000000
10%               13.900000
25%               20.250000
50%               29.500000
75%               61.000000
90%               78.200000
max               97.000000

In [3]:
print('q(0,10):',description.at['10%','Casas por quarteirão'])
print('q(0,25):',description.at['25%','Casas por quarteirão'])
print('q(0,5):',description.at['50%','Casas por quarteirão'])
print('q(0,75):',description.at['75%','Casas por quarteirão'])
print('q(0,90):',description.at['90%','Casas por quarteirão'])

q(0,10): 13.9
q(0,25): 20.25
q(0,5): 29.5
q(0,75): 61.0
q(0,90): 78.2