## Problema 10

#### Para a variável população do CD-Brasil, obtenha q(0,10), q(0,25) ,q(0,50) ,q(0,75), q(0,80) e q(0,95).

In [1]:
import pandas as pd

In [2]:
df = pd.read_excel(r'C:\Estatística Básica\Conjunto de Dados.xls', sheet_name='CD-Brasil', header=0, skiprows=[0,1,2,3,12,22,27,31,36,37], decimal='.')
df

          Região Estado   Superfície  População   Densidade
0          Norte     RR   224298.980     395725    1.764275
1          Norte     AM  1559161.810    3221940    2.066456
2          Norte     AC   164165.250     653385    3.980044
3          Norte     AP   142814.585     587311    4.112402
4          Norte     TO   277620.914    1243627    4.479587
5          Norte     PA  1247689.515    7065573    5.662926
6          Norte     RO   237576.167    1453756    6.119115
7       Nordeste     PI   251529.186    3032435   12.055997
8       Nordeste     MA   331983.293    6118995   18.431635
9       Nordeste     BA   564692.669   14080670   24.935103
10      Nordeste     CE   148825.602    8185250   54.998938
11      Nordeste     RN    52796.791    3013740   57.081878
12      Nordeste     PB    56439.838    3641397   64.518204
13      Nordeste     PE    98311.616    8486638   86.323858
14      Nordeste     SE    21910.348    1939426   88.516440
15      Nordeste     AL    27767.661    3037231  109.380153
16       Sudeste     MG   586528.293   19273533   32.860364
17       Sudeste     ES    46077.519    3351669   72.739789
18       Sudeste     SP   248209.426   39827690  160.460022
19       Sudeste     RJ    43696.054   15420450  352.902576
20           Sul     RS   281748.583   10582287   37.559326
21           Sul     PR   199314.850   10284503   51.599281
22           Sul     SC    95346.181    5866487   61.528285
23  Centro-Oeste     MT   903357.908    2854642    3.160034
24  Centro-Oeste     MS   357124.962    2265813    6.344594
25  Centro-Oeste     GO   340086.698    5647035   16.604692
26  Centro-Oeste     DF     5801.937    2455903  423.290187

In [3]:
description = df.describe(percentiles=[.10, .25, .50, .75, .80, .95])
description

         Superfície     População   Densidade
count  2.700000e+01  2.700000e+01   27.000000
mean   3.153658e+05  6.814337e+06   65.313932
std    3.753011e+05  8.181845e+06  101.483568
min    5.801937e+03  3.957250e+05    1.764275
10%    3.732470e+04  1.007530e+06    3.652040
25%    7.589301e+04  2.360858e+06    5.891021
50%    2.242990e+05  3.351669e+06   32.860364
75%    3.360350e+05  8.335944e+06   68.628997
80%    3.537173e+05  9.924930e+06   83.607044
95%    1.144390e+06  1.811761e+07  295.169810
max    1.559162e+06  3.982769e+07  423.290187

In [4]:
print('q(0,10) População:','{0:.10g}'.format(description.at['10%','População']))
print('q(0,25) População:','{0:.10g}'.format(description.at['25%','População']))
print('q(0,50) População:','{0:.10g}'.format(description.at['50%','População']))
print('q(0,75) População:','{0:.10g}'.format(description.at['75%','População']))
print('q(0,80) População:','{0:.10g}'.format(description.at['80%','População']))
print('q(0,95) População:','{0:.10g}'.format(description.at['95%','População']))

q(0,10) População: 1007530.2
q(0,25) População: 2360858
q(0,50) População: 3351669
q(0,75) População: 8335944
q(0,80) População: 9924930
q(0,95) População: 18117608.1